<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strike City - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Strike City</h1>
        <h3>Login</h3>
    </div>
    {% if error %}
        <div>
            <p style="color: red;">{{error}}</p>
        </div>
    {% endif %}
    <div>
        <form method="POST">
            <input type="text" name="username" placeholder="Your Username">
            <input type="password" name="password" placeholder="Your Password">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
</html>