<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strike City - Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Strike City</h1>
        <h3>Create Account</h3>
    </div>
    <div>
        <form method="POST">
            <input type="text" name="username" placeholder="Your Username" required>
            <input type="password" name="password" placeholder="Your Password" required>
            <input type="text" name="iname" placeholder="Your Real Name" required>
            <p style="display: inline;">Faction:</p>
            <select name="faction" required>
                <option value="Psilight">Psilight</option>
                <option value="Skylight">Skylight</option>
                <option value="Inferno">Inferno</option>
                <option value="Void">Void</option>
                <option value="Lifeform">Lifeform</option>
                <option value="Riptide">Riptide</option>
            </select>
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
</html>
